body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.highlight-text-color {
    color: #ff5c0f;
}
.parent-container {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 10px;
}

button {
    padding: 12px;
    background-color: #20a8b4;
    border: solid #20a8b4 2px;
    border-radius: 10px;
    height: 40px;
    margin-left: 5px;
    color: #fff;
}
nav.child-2 {
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
li {
    padding: 6px;
}
a {
    text-decoration: none;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    /* border: #ff5c0f 4px dashed; */
}

.main-child-1 {
    display: flex;
    flex-direction: column;
    gap: 0;
    /* border: #20a8b4 4px dashed; */
}




@media screen and (min-width: 768px) {
    .parent-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #F2F2F2;
        padding: 10px;
    }

    nav.child-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        /* padding-right: 80px; */
        background-color: #ff5b0f8d;
    }
    .main-child-1 {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        border: #20a8b4 4px dashed;
    }
    .header-text {
        border: #c122d6 4px dashed;
    }
    .learn-more-button {
        width: 100px;
        height: 45px;
    }
    .image {
        padding: 0;
        border: #000 4px dashed;
    }
}