 body {
     margin: 0;
     font-family: "Roboto", sans-serif;
 }

 h1 {
     color: #20a8b4;

 }

 ul {
     display: flex;
     flex-direction: column;
     gap: 15px;
     list-style-type: none;
     padding: 0;
     margin-top: -10px;
     /* background-color: red; */
     font-size: 20px;
     color: black;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 header {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     background-color: #F2F2F2;
     margin: 0px;
     padding: 25px;
 }

 button {
     color: white;
     background-color: #20a8b4;
     border-color: #20a8b4;
     border-radius: 10px;
     padding: 12px;
 }

 main {
     margin-top: 8em;
     padding-left: 2em;
 }

 /* nav {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding-bottom: 10px;
}  */


 .image-text-container {
     display: flex;
     justify-content: space-between;
 }

 @media screen and (max-width: 480px) {
     body {
         /* background-color: #20a8b479; */
     }

     header {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         background-color: #F2F2F2;
         margin: 0px;
         padding: 25px;
     }

 }

 @media screen and (min-width: 992px) {
     body {
         /* background-color: #20a8b479; */
     }

     .header-container {
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
         align-items: center;
         background-color: #F2F2F2;
         margin: 0px;
         padding: 25px;
     }

     .header-item {

     }

     .h1-header {
         position: absolute;
         right: 23em;
         /* gap: 400; */
     }

     .nav-element, .contact-button {
        gap: 5em;
     }


     nav {
         flex-direction: row;
         /* padding-left: 500px; */
     }
 }